html,
body {
    margin: 0;
    padding: 0;
}

#top {
    background-color: slategray;
    color: white;
    cursor: pointer;
    font-size: .8em;
    font-weight: 700;
    padding: 1em 2em;
    position: fixed;
    right: 0px;
    top: -50px;
    transition: top .25s;
    z-index: 100;
}


#top.show {
    top: 0px;
}

#top:hover {
    background-color: lightslategray;
}

header {
    background-color: #0b61bc;
    box-sizing: border-box;
    color: white;
    padding: 2em;
    text-align: center;
    width: 100%;
}

header h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 3em;
    margin: 0em;
}

body {
    color: darkslategray;
    font-family: 'Lato', sans-serif;
}

#main-loader {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}

#main-loader img {
    width: 100px;
}

#main-loader p {
    margin: 0em;
}

#main {
    margin: auto;
    width: 90%;
}

h1 {
    font-size: 1.125em;
    margin-bottom: .25em;
}

h3 {
    font-weight: 300;
    margin: auto;
    text-align: center;
}

h1,
h2 {
    font-weight: 700;
}

input[type="text"],
select {
    background-color: transparent;
    border-radius: 0px;
    font-size: 1em;
    padding: .5em;
    -webkit-appearance: none;
}

input[type="text"],
select,
.thumbnail {
    border: solid 1px lightgray;
}

input:focus,
select:focus {
    outline: none;
}

#types {
    list-style: none;
    padding-inline-start: 0px;
}

st {
    font-weight: 700;
}

#submit {
    background-color: slategray;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-weight: 700;
    margin: 40px auto;
    padding: 1em;
    text-align: center;
    text-transform: uppercase;
}

#submit:hover {
    background-color: lightslategray;
}

.hidden {
    display: none;
}

#animals {
    margin-bottom: 120px;
}

.animal {
    color: inherit;
    display: block;
    margin: 40px 0px;
    position: relative;
}

.info {
    display: inline-block;
    margin: 0em;
    position: absolute;
    top: 0px;
}

.name {
    font-weight: bold;
}

.thumbnail {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 120px;
    margin-right: .5em;
    width: 120px;
}

.thumbnail.blank {
    background-color: gainsboro;
}

.disabled {
    opacity: .6;
    pointer-events: none;
}

.loader {
    display: block;
    margin: 20px auto;
    width: 100px;
}

h3 span {
    cursor: pointer;
    font-size: .8em;
    font-weight: 700;
}

h3 span:hover {
    color: lightslategray;
}

@media screen and (min-width: 768px) {

    #main {
        left: 50%;
        position: absolute;
        text-align: center;
        top: 40%;
        transform: translateX(-50%);
        width: 66%;
    }
    
    #locale-container,
    #type-container,
    .info {
        text-align: left;
    }

    #locale-container,
    #type-container {
        display: inline-block;
    }

    #type-container {
        margin-left: 60px;
    }
    
    #top {
        font-size: 1em;
        padding: 1em 4em;
        top: -60px;
    }
    
    .animal {
        box-sizing: border-box;
        display: inline-block;
        width: 50%;
    }
    
    .info {
        width: 50%;
    }
}

@media screen and (min-width: 1024px) {
    h1,
    input[type="text"],
    select {
        font-size: 1.25em;
    }
    
    .animal:hover .name {
        color: orangered;
    }
    
    .animal:hover .thumbnail {
        border-color: orangered;
    }
}

@media screen and (min-width: 1280px) {
    #submit {
        width: 50%;
    }
    
    .thumbnail {
        height: 200px;
        width: 200px;
    }
}